.background{
    display: table;
    position: fixed;
    height: 100%;
	max-height:100vh;
    width: 100%;
	max-width:100vw;
	background:rgba(0,0,0,0.6);
}
.container {
    display: table-cell;
    vertical-align: middle;
	text-align:center;
}
.content {
	display:inline-block;
	width:auto;
	background:rgba(255,255,255,0.6);
	color:white;
}